.app {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #7a80ec;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #535bf2;
}